html {
    font-size: 11px;
}
body {
    background: rgb(48, 47, 47);
    display: flex;
    flex-direction: column;
}
main {
    flex: 3;
}
aside {
    flex: 1;
}

button {
    text-align: left;
    background: rgb(21, 20, 20);
    padding: 1.3rem 0 1.3rem 0.5rem;
    margin-left:  0rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(212, 210, 211);
    border: none;
    border-bottom: 1px solid;
}

.controls {
    display: flex;
}

.controls > button {
    flex: 1;
    border-top: none;
    border-bottom: none;
    text-align: center;
    padding: 1.3rem 0;
    background-color: rgb(11, 16, 19);
}

button:hover {
    background: rgb(50, 47, 47);
}

#btn1{
    margin-top: 8px;
    border: 2px solid;
    border-color: rgb(218, 173, 173);
    color: rgb(212, 210, 211);
}

#btn1:hover{
    background-color: rgb(218, 173, 173);
    color: rgb(0, 0, 0);   
}

#btn2 {
    margin-top: 8px;
    border: 2px solid;
    border-color: rgb(198, 221, 255);
    color: rgb(212, 210, 211);
}
#btn2:hover {
    background-color:rgb(198, 221, 255);
    color: rgb(0, 0, 0);   
}
.booster {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.9rem;
    padding-right: 1.3rem ;
}

.input-wrapper {
    background: gray;
    padding: 1.3rem;
}

canvas {
    width: 100%;
}

@media (min-width: 1000px) {
    body {
        flex-direction: row;
    }
}